In [25]:
from pathlib import Path
import pandas as pd
import csv
import matplotlib.pyplot as plt
plt.rcParams['figure.facecolor']='w'

In [26]:
logPath=Path('S:\VP1 Team\L4\Gavin\LoggingTest')
#logFile=next(logPath.glob('*.*'))

In [27]:
logFiles=list(logPath.glob('*.*'))

In [29]:
logFiles
logFile=logFiles[2]

In [30]:
with open(logFile.as_posix(),'rb') as f:
    #head=[next(f) for x in range(36)]
    head=[]
    for line in f:
        #print(line)
        head.append(line)

In [31]:
df=pd.DataFrame()
for j in range(10,len(head)):
    line=head[j].decode(encoding='unicode_escape').replace('\x00','').split('\x06')
    try:
        df_temp=pd.DataFrame([item.split('\t') for item in line if '\t' in item])
        df_temp.set_index(0,inplace=True)
        df_temp.columns=[head[j].decode(encoding='unicode_escape').replace('\x00','').split('\x06')[0][1:10]]
        df=pd.concat((df,df_temp),axis=1)
    except:
        pass
df=df.T
df=df.astype(float)

In [36]:
(10/16)/6.895

0.09064539521392313

0             LPT436     LPT433     LPT434     LPT435     LPT432
98.494940  28.994293  29.556370  29.925070  29.361205  29.602962
98.504272  28.847923  29.549432  29.338188  29.160161  29.335999

In [34]:
(df.iloc[-2,:]-df.iloc[-1,:])/6.895

0
LPT436    0.021228
LPT433    0.001006
LPT434    0.085117
LPT435    0.029158
LPT432    0.038718
dtype: float64

In [33]:
#df.index=df.index.astype(float)
max_row=df.fillna(0).values.argmax(axis=0).min()
(df-df.iloc[max_row,:]).iloc[max_row:,:]..iloc[::-1,:].rolling(window=3,center=False).mean().plot(figsize=(10,10))

SyntaxError: invalid syntax (<ipython-input-33-0204b7b109ad>, line 3)